@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Back ground video css starts here */
.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.background-clip {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
/* Back ground video css ends here */

/* HEADER PART FOR LOGO CSS STARTS HERE */
.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(102, 139, 164, 0.8); /* Add some transparency */
  min-height: 120px;
  width: 100%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   border-bottom: 1px solid  rgb(254, 248, 248);
}
@media screen and (max-width: 600px) {
  .header .logo {
    font-size: 2rem;
  }
}
.header > .logo {
  font-size: 4.5rem;
  overflow: hidden;
}
.header > .logo > a > em {
  color: rgb(240, 240, 232);
}
.header > .logo > a {
  text-decoration: none;
  font-family: "Almendra Display", serif;
  font-weight: 800;
  font-style:large;
  color: rgb(221, 224, 171);
  white-space: nowrap;
  
}
.header > .logo > a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(254, 248, 248);
    bottom: 0;
    left: 0;
    animation: moveLine 5s linear infinite;
}
@keyframes moveLine {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* HEADER PART FOR LOGO CSS ENDS HERE */