@import url("https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Back ground video css starts here */
.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.background-clip {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
/* Back ground video css ends here */

/* HEADER PART FOR LOGO CSS STARTS HERE */
.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(99, 139, 164, 0.8);
  min-height: 120px;
  width: 100%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-bottom: 1px solid rgb(254, 248, 248);
}
@media screen and (max-width: 600px) {
  .header .logo {
    font-size: 2rem;
  }
}
.header > .logo {
  font-size: 4.5rem;
  overflow: hidden;
}
.header > .logo > a > em {
  color: rgb(240, 240, 232);
}
.header > .logo > a {
  text-decoration: none;
  font-family: "Almendra Display", serif;
  font-weight: 800;
  font-style: large;
  color: rgb(221, 224, 171);
  white-space: nowrap;
}
.header > .logo > a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgb(254, 248, 248);
  bottom: 0;
  left: 0;
  animation: moveLine 5s linear infinite;
}
@keyframes moveLine {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* HEADER PART FOR LOGO CSS ENDS HERE */

/* QUOTES CONTAINER CSS STARTS HERE */
.quotes-container {
  position: absolute;
  text-align: center;
  color: rgb(2, 2, 2);
  font-size: 4.5rem;
  min-width: 100%;
  top: 30%;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.quote {
  display: none;
  font-size: 3.5rem;
  text-align: center;
  padding: 50px;
  margin-bottom: 10px;
  color: rgb(104, 104, 104);
  opacity: 0;
}

.quote i{
  font-size: 80px;
  color:black;
}

.Author{
  text-align: right;
  margin-top: 10px;
}

.quote.active {
  display: block;
  animation: slideUp 0.5s forwards;
}
.navigation {
  position: absolute;
  top: 250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.navigation button {
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0.5;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
span {
  color:  #02a58f;
}
.navigation button:hover {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
} 
/* QUOTES CONTAINER CSS ENDS HERE */

/* HEALTHY TIPS STARTS HERE */
.tcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: rgb(253, 247, 186);
}
.tcontent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.tcontainer .ttext {
  font-family: gilroy;
  max-width: 40%;
}
.tcontainer .ttext h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.tcontainer .ttext p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.tcontainer .guide-button {
  padding: 10px 20px;
  text-decoration: none;
  background-color: rgb(2, 165, 143);
  color: black;
  border: none;
  cursor: pointer;
  font-weight: 700;
}
.tcontainer .guide-button:hover {
  background-color: rgb(0, 155, 155);
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.1);
}
.tcontainer .video-box {
  position: relative;
  width: 300px;
  height: 200px;
  background-image: url("photos/start\ the\ green.webp");
  object-fit: cover;
}
.garden-vid {
  width: 300px;
  height: 200px;
}
.tcontainer .video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent overlay */
  cursor: pointer;
}
.tcontainer .video-overlay button {
  background: none;
  border: none;
  color: white;
  font-size: 3rem;
}

/* HEALTHY TIPS ENDS HERE */