@import url("https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* Back ground video css starts here */
.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.background-clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
/* Back ground video css ends here */

/* HEADER PART FOR LOGO CSS STARTS HERE */
.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(48, 133, 146, 0.8);
  min-height: 70px;
  width: 100%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-bottom: 1px solid rgb(254, 248, 248);
  z-index: 1000;
}
.header > .logo {
  overflow: hidden;
  padding-left: 20px;
}
.header > .logo > a > em {
  color: rgb(240, 240, 232);
}
.header > .logo > a {
  text-decoration: none;
  font-size: 2.5rem;
  font-family: "Almendra Display", serif;
  font-weight: 800;
  font-style: large;
  color: rgb(221, 224, 171);
  white-space: nowrap;
}
@media (max-width: 800px) {
  .header > .logo > a {
    font-size: 3rem;
  }
}
.header > .logo > a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgb(254, 248, 248);
  bottom: 0;
  left: 0;
  animation: moveLine 5s linear infinite;
}
@keyframes moveLine {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}
.header-options {
  padding: 7px;
  margin-right: 3px;
  cursor: pointer;
}
.header-options span {
  font-size: 2.5rem !important;
  color: #f8f8f8;
  transition: all ease-in 0.3s;
  &&:hover {
    font-weight: 900;
  }
}
/* HEADER PART FOR LOGO CSS ENDS HERE */

/* QUOTES CONTAINER CSS STARTS HERE */
.quotes-container {
  position: absolute;
  text-align: center;
  color: rgb(2, 2, 2);
  min-width: 100%;
  top: 30%;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.quote {
  display: none;
  font-size: 4rem;
  text-align: center;
  padding: 160px;
  margin-bottom: 10px;
  color: rgb(104, 104, 104);
  opacity: 0;
}
@media (max-width: 1080px) {
  .quote {
    font-size: 3rem;
    padding-bottom: 550px;
  }
}
@media (max-width: 600px) {
  .quote {
    font-size: 2rem;
    padding-top: 0px;
  }
}
@media (max-width: 400px) {
  .quote {
    font-size: 1.5rem;
    padding-top: 0px;
  }
}
@media (max-width: 300px) {
  .quote {
    font-size: 1rem;
    padding-top: 0px;
  }
}
.quote i {
  font-size: 80px;
  color: black;
}

.Author {
  text-align: right;
  margin-top: 10px;
}

.quote.active {
  display: block;
  justify-content: center;
  align-items: center;
  animation: slideUp 0.5s forwards;
}
.navigation {
  position: absolute;
  top: 250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.navigation button {
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0.5;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.navigation > button > span {
  color: #02a58f;
}
.navigation button:hover {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
}
/* QUOTES CONTAINER CSS ENDS HERE */

/* HEALTHY TIPS STARTS HERE */
.tcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: rgb(253, 247, 186);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.tcontent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.tcontainer .ttext {
  font-family: "Century Gothic", "Lato", sans-serif;
  max-width: 40%;
}
.tcontainer .ttext h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.tcontainer .ttext p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.tcontainer .guide-button {
  padding: 10px 20px;
  text-decoration: none;
  background-color: rgb(2, 165, 143);
  color: black;
  border: none;
  cursor: pointer;
  font-weight: 700;
}
.tcontainer .guide-button:hover {
  background-color: rgb(0, 155, 155);
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.1);
}
.tcontainer .video-box {
  position: relative;
  width: 300px;
  height: 200px;
  background-image: url("images/start\ the\ green.webp");
  object-fit: cover;
}
.garden-vid {
  width: 300px;
  height: 200px;
}
.tcontainer .video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.tcontainer .video-overlay button {
  background: none;
  border: none;
  color: white;
  font-size: 3rem;
}

/* HEALTHY TIPS ENDS HERE */

/* NAV-BAR STARTS HERE */
.nav-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 500;
  transition: transform 0.5s ease;
}
.nav-options {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: color 0.5s ease;
  font-size: 0.8rem;
  overflow: hidden;
}

.nav-options::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(99, 139, 164, 0.8);
  z-index: -1;
  transition: none;
}

.nav-options:hover::before {
  animation: wave 0.5s forwards;
}

.nav-options:hover {
  color: white;
}

.nav-options::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(99, 139, 164, 0.8);
  z-index: -1;
  animation: reverseWave 0.5s forwards;
  opacity: 0;
}

.nav-options:hover::after {
  animation: none;
  opacity: 1;
}

@keyframes wave {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes reverseWave {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
.nav-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66b1f1;
  transition: left 0.3s ease;
}
@media (min-width: 800px) {
  .nav-options {
    h1 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
  .nav-options {
    font-size: 1rem;
  }
}
/* NAV-BAR ENDS HERE */

/* ROUND CARDS SECTION STARTS HERE */
.round-card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  background-color: #f9f9f9;
}

.round-card {
  text-align: center;
  flex: 1 1 150px;
}
.round-card > a {
  text-decoration: none;
}
.round-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 6px;
  border: 2px solid #f0c0c0;
  border-radius: 50%;
  transition: all ease 1s;
}
.round-card:hover img {
  scale: 1.2;
}

.round-card p {
  margin-top: 15px;
  color: #333;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

@media (max-width: 600px) {
  .round-card {
    flex: 1 1 100%;
  }

  .round-card img {
    width: 80px;
    height: 80px;
  }
}

/* ROUND CARDS SECTION ENDS HERE */

/* KNOW MORE ABOUT PLANTS STARTS HERE */
.recipes-section {
  padding: 30px 20px;
  background-color: #d2e8b4;
  border-radius: 8px;
  margin: 30px auto;
  text-align: center;
  max-width: 1200px;
  box-shadow: 4px 0px 50px -93px rgba(0, 0, 0, 0.6),
    0px 10px 15px -3px rgba(0, 0, 0, 0.3);
}

.recipes-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-radius: 25px 0px 0px 25px;
  border: none;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
}
.btn-search {
  background-color: #f8f8f8;
  border: none;
  border-radius: 0px 25px 25px 0px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.btn-search > span {
  color: #02a58f88;
}

.btn-search:hover {
  transform: scale(1.05);
  border: 1px solid #83916f;
}

.recipes-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.recipe-card {
  background-color: #ffffff7a;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 300px;
  transition: transform 0.7s ease, box-shadow 0.2s ease;
}

.recipe-card a {
  text-decoration: none;
  color: inherit;
}

.recipe-card img {
  width: 100%;
  height: auto;
}

.recipe-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 20px -3px rgba(0, 0, 0, 0.2);
}

.recipe-category {
  font-size: 0.875rem;
  color: #555;
  padding: 10px;
}

.recipe-title {
  font-size: 1.125rem;
  font-weight: bold;
  padding: 0 10px 10px;
}
.recipe-card p {
  text-align: center;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-weight: 300;
}

@media (max-width: 768px) {
  .recipes-grid {
    flex-direction: column;
    align-items: center;
  }

  .search-bar input {
    width: 100%;
  }
}
/* KNOW MORE ABOUT PLANTS ENDS HERE */

/* SHOPPING SECTION STARTS HERE */
.shopping-section {
  max-width: 1850px;
  height: auto;
  margin: 20px auto;
  text-align: center;
  padding: 30px 20px;
  background-color: #f8f8f8;
  margin-bottom: 0px;
}
.shopping-header-section {
  background-color: #f0fff6;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 1600px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.shopping-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.shopping-text {
  text-align: left;
  padding: 20px;
  flex: 1;
}

.shopping-text h2 {
  font-size: 1.5rem;
  color: #2e7d32;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

.shopping-text h1 {
  font-size: 2.5rem;
  color: #1b5e20;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

.shopping-text p {
  padding: 20px !important;
  font-size: 1.1rem;
  background-color: #4caf50;
  color: #f2eeee;
  font-family: Arial, sans-serif;
  border-radius: 20px;
  height: 30px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-image {
  flex: 1;
  padding: 0px;
}

.shopping-image img {
  width: 100%;
  object-fit: contain;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.483));
}

/* DROPDOWN MENU STYLES */
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  width: 100px;
  float: right;
  right: 7%;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* SHOPPING grid STARTS HERE */

.shopping-grid {
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 130px;
  justify-content: center;
}

.product-card {
  background-color: #ffffff7a;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  transition: transform 0.7s ease, box-shadow 0.2s ease;
}

.product-image {
  position: relative;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffeb3b;
  color: #000;
  padding: 5px 10px;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 5px;
}

.product-details {
  padding: 15px;
  text-align: left;
}

.product-details h3 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rating-stars {
  color: #ffb400;
  margin-right: 5px;
}

.rating-value {
  font-size: 0.875rem;
  color: #4caf50;
}

.product-price {
  font-size: 1rem;
  margin-bottom: 15px;
}

.original-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 10px;
}

.discounted-price {
  color: #4caf50;
}

.product-button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.product-button:hover {
  background-color: #388e3c;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 20px -3px rgba(0, 0, 0, 0.2);
}

.view-more-container {
  text-align: center;
  margin: 20px 0;
}

.view-more-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
}

.product-card {
  display: none;
}

.product-card.visible {
  display: block;
}

.no-products {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.no-products img {
  max-width: 100%;
  height: auto;
}

.search-and-filter {
  margin: 60px;
}

#searchInput {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

/* SHOPPING GRID ENDS HERE */

/* SHOPPING SECTION ENDS HERE */

/* Additional Services Section Starts header */
.additional-services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 0px;
  border-top:0.1px solid rgba(0, 0, 0, 0.465) ;
}

.service-item {
  text-align: center;
}

.service-item img {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  margin-bottom: 10px;
}

.service-item p {
  font-size: 14px;
  color: #333;
}
/* Additional Services Section End */

/* Comment Section */
.comment-section{
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-form {
  background: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin-top:100px ;
  background: linear-gradient(135deg,#4caf4f59 0%, #388e3c1b 100%);
}

.contact-form h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.contact-form p {
  margin-bottom: 20px;
  color: #666;
}

.input-container {
  position: relative;
  margin-bottom: 15px;
  width: 100%;
}

.input-container input,
.input-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  resize: none;
}

.input-container label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #aaa;
  transition:all 0.3s ease;
  pointer-events: none;
}

.input-container input:focus + label,
.input-container input:valid + label,
.input-container textarea:focus + label,
.input-container textarea:valid + label {
  top: -13px;
  left: 5px;
  font-size: 12px;
  color: #333;
}

button {
  background: #00b894;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition:  0.3s ease;
}

button:hover {
  background: #019a76;
}

.contact-number {
  margin-top: 15px;
  color: #666;
}
.test{
  height: 900px;
}

/* Modal Background */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  transition: all 0.3s ease;
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 15% auto;
  width: 80%;
  max-width: 500px;
  text-align: left;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;
}

.modal-img {
  position: relative;
  display: flex;
  justify-content: center;
  height: 180px;
  object-fit: cover;
}

.modal-image img {
  width: 100%;
  height: auto;
}

/* Modal Header */
.modal-header {
  font-size: 24px;
  margin: 15px;
  color: #000000; 

}

/* Modal Body */
.modal-body {
  position: relative;
  font-size: 16px;
  margin-bottom: 20px;
  color: #888;
  left: 18px;
}

/* Close Button */
.close {
  z-index: 1;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 5px;
  transition: color 0.2s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Buttons */
.modal-button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.signin-button {
  background-color: #4caf50; 
  color: white;
}

.signin-button:hover {
  background-color:  #388e3c; 
}

.signup-button {
  background-color:#4c99af; 
  color: white;
}

.signup-button:hover {
  background-color: #007bb5; 
}

